<%= render "layouts/customer_header" %>

<div class = "container">
  <div class="row my-5">
    <div class="col offset-1">
      <h3>パスワードはお忘れですか？</h3>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-offset-1 col-xs-8">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>

      <table class = 'table inin '>
        <div class="field">
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </div>

        <div class="actions">
          <td></td>
          <td><%= f.submit "メールを送信", class: "btn btn-primary" %></td>
        </div>
        <% end %>
      </table>

        <%= render "customers/shared/links" %>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>