
<%= render 'layouts/customer_header' %>

<div class="container">
	<div class="row">
    <div class="col">
      <h2>注文情報確認</h2>
    </div>
  </div>
  <div class="row">
  	<div class="col">
  		<table class="table border">
	      <thead>
		      <tr>
			      <th class = 'information border bg-light'>商品名</th>
			      <th class = 'information border bg-light'>単価(税込)</th>
			      <th class = 'information border bg-light'>数量</th>
			      <th class = 'information border bg-light'>小計</th>
		      </tr>
	      </thead>
	      <tbody>
	      	<% @carts.each do |cart| %>
	      	<tr>
			      <td><%= cart.item.name %></td>
			      <td><%= cart.item.add_tax_price %></td>
			      <td><%= cart.amount %></td>
			      <td><%= cart.item.add_tax_price * cart.amount %></td>
		      </tr>
		      <% end %>
	      </tbody>
      </table>
    <div class="row">
      <div class="col">
      <table class="table border">
      	<tr>
      		<td class = 'information border bg-light'>送料</td><td>800円</td>
      		<td class = 'information border bg-light'>商品合計</td><td><%= total_price(@carts) %>円</td>
      		<td class = 'information border bg-light'>請求金額</td><td><%= total_price(@carts) + 800 %>円</td>
      	</tr>
      </table>
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="col">
  		<h3>支払方法</h3>
  		<div><%= @order.payment %></div>
  	</div>
  </div>
  <div class="row">
  	<div class="col">
  		<h3>お届け先</h3>
  		<div>
  			<%= @order.shipping_postcode %>
  			<%= @order.shipping_address %>
  			<%= @order.shipping_name %>
  		</div>
  	</div>
  	<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :shipping_postcode %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :shipping_name %>
        <%= f.hidden_field :payment, :value => @order.payment %>
        <%= f.hidden_field :postage, :value => 800 %>
        <%= f.hidden_field :total_price, :value => (total_price(@carts) + 800) %>
        <%= link_to "注文情報入力へ戻る", new_order_path %>
        <%= f.submit "購入を確定する" %>
    <% end %>
      </div>
  </div>
</div>

<%= render "layouts/footer" %>
