
<%= render 'layouts/customer_header' %>

<div class="container">
  <div class="row">
    <div class="col mt-5">
      <h2>注文履歴一覧</h2>
    </div>
  </div>
  <div class="row">
  	<div class="col mt-8">
  	  <table class="table border">
	    <thead>
		  <tr>
	    <th class = 'information border bg-light'>注文日</th>
			<th class = 'information border bg-light'>配送先</th>
			<th class = 'information border bg-light'>注文商品</th>
			<th class = 'information border bg-light'>支払金額</th>
			<th class = 'information border bg-light'>ステータス</th>
			<th class = 'information border bg-light'>注文詳細</th>
		  </tr>
	    </thead>
	    <tbody>
	      <% @orders.each do |order| %>
	        <tr>
			  <td>
			    <%= order.created_at.strftime('%Y/%m/%d') %>
			  </td>
			  <td>
			    〒<%= order.shipping_postcode %><br>
			    <%= order.shipping_address %><br>
			    <%= order.shipping_name %>
			  </td>
			  <td>
			    <% order.order_details.each do |detail| %>
			      ・<%= detail.item.name %><br>
			    <% end %>
			  </td>
			  <td>
			  	<%= order.total_price %>円
			  </td>
			  <td>
			  	<%= order.order_status %>
			  </td>
			  <td>
			  	<%= link_to "表示する", order_path(order), class: "btn btn-primary" %>
			  </td>
		    </tr>
	      <% end %>
	    </tbody>
      </table>
  	</div>
  </div>
</div>

<%= render "layouts/footer" %>