<%= render "layouts/admin_header" %>

<div class='container'>

	<div class='row'>
		<div class='col-8'>
			<h2>注文情報入力</h2>
			<%= form_with model: @customer, url: new_order_path, local:true do |f| %>
			<table>
	      <tr>
	      	<td>会員ID</td><td><%= current_customer.id %></td>
	      </tr>
	      
=======
  <div class='row'>
	<div class='col-8'>
	  <h2>注文情報入力</h2>
	    <%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>
	      <h3>支払方法</h3>
	        <ul>
	      	  <li>
	      	    <%= f.radio_button :payment, :'0', checked: true %>
	      	  	<%= f.label :payment, "クレジットカード", {value: :0, style: "display: inline-block;"} %>
	      	  </li>
	  		  <li>
	  			<%= f.radio_button :payment, :'1' %>
	  			<%= f.label :payment, "銀行振込", {value: :0, style: "display: inline-block;"} %>
	  		  </li>
	      	</ul>
	      <h3>お届け先</h3>
	      	<ul>
	      	  <li>
	      	  	<%= f.radio_button :payment, :'0', checked: true %>
	      	  	<%= f.label :payment, "ご自身の住所", {value: :0, style: "display: inline-block;"} %>
	      	  </li>
	      	</ul>
	      	

	      <tr>
	      	<td><%= f.submit '変更を保存', class: "btn btn-success" %></td>
	      </tr>
      </table>
	    <% end %>
		</div>
  </div>
</div>

<%= render "layouts/footer" %>