
<%= render "layouts/customer_header" %>

<div class='container'>
	<div class='row'>
		<div class='col-8'>
			<h2>注文情報入力</h2>
			<%= form_with model: @orders, url: orders_confirm_path, local:true do |f| %>
	      <h3>支払方法</h3>
	        <ul class='none'>
	      	  <li>
	      	    <%= f.radio_button :payment, :'0' %>
	      	  	<%= f.label :payment, "クレジットカード" %>
	      	  </li>
	  		  	<li>
	  					<%= f.radio_button :payment, :'1' %>
	  					<%= f.label :payment, "銀行振込" %>
	  		  	</li>
	      	</ul>
	      <h3>お届け先</h3>
	      	<ul>
	      	  <li>
	      	  	<%= f.radio_button :address, '0' %>
	      	  	<%= f.label :address, 'ご自身の住所', value: 0 %><br>
	      	  	〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
	      	  	<%= current_customer.last_name %> <%= current_customer.first_name %>
	      	  </li>
	      	  <li>
	      	  	<%= f.radio_button :address, '1' %>
	      	  	<%= f.label :address, '登録済住所から選択', value: 1 %><br>
	      	  	<%= f.collection_select :current_customer, current_customer.addresses, :id, :full_name  %>
	      	  	<%#= f.collection_select :保存先のカラム名, テーブル（モデル）名.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい" %>
	      	  </li>
	      	  <li>
	      	  	<%= f.radio_button :address, '2' %>
	      	  	<%= f.label :address, '新しいお届け先', value: 2 %><br>
	      	  	<%= f.text_field :shipping_postcode %>

	      	  </li>
	      	</ul>
	      <div><%= f.submit '確認画面へ進む', class: "btn btn-success" %></div>
 			<% end %>
		</div>
  </div>
</div>

<%= render "layouts/footer" %>