
<%= render "layouts/customer_header" %>

<h2><i class="fas fa-shopping-cart"></i>ショッピングカート</h2>

  <table class="table-bordered">
	  <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
    <% @carts.each do |cart| %>
    <tr>
      <th>
        <%= link_to item_path(cart.item_id) do %>
        <%= attachment_image_tag cart.item, :image, size: "50x50", fallback: "no_image.jpg"%>
        <%= cart.item.name %>
        <% end %>
      </th>
      <th>
        <%= cart.item.add_tax_price %>
      </th>
      <th>
        <%= form_with model:cart, url: cart_path(cart.id), local:true do |f| %>
        <%#= f.select :amount,[1,2,3,4,5,6,7,8,9,10]%>
        <%= f.number_field :amount%>
        <%= f.submit "変更" ,class:"btn btn-primary" %>
        <% end %>
      </th>
      <th></th>
      <th>
        <%= link_to "削除する", cart_path(cart.id), method: :delete, class:"btn btn-danger" %>
      </th>
    </tr>
    <% end %>
  </table>
  <%= link_to "カートに入れる", new_order_path,class: "btn btn-success" %>