<%= render "layouts/admin_header" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>管理者用ログイン</h2>
    </div>
    <div class="col-12">
      <table class='table'>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <tr class="field">
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr class="field">
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr class="actions">
            <td><%= f.submit "ログイン" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
