<%= render "layouts/admin_header" %>

<div class="container my-5">
  <div class="row">
    <div class="col-12 offset-2 my-2">
      <h3>管理者用ログイン</h3>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-xs-offset-1 col-xs-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class='table ini'>
          <tr class="field">
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, placeholder: "sample@exmple.com", autofocus: true, autocomplete: "email", :size => "40*30", class: "form-control border border-dark rounded" %></td>
          </tr>
          <tr class="field">
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", :size => "40*30", class: "form-control border border-dark rounded" %></td>
          </tr>
        </table>
        <div class="actions mb-5 d-flex justify-content-center">
          <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
