
<%= render 'layouts/customer_header' %>

<div class="container">
  <div class="row">
    <div class="col">
    <div class="col mt-5">
      <h2>商品一覧</h2>
      <h4>(全<%= @items.count %>件)</h4>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <% @items.each do |item| %>
    <div class="col mt-3">
      <%= attachment_image_tag(item, :image, :fill, 250, 180,  fallback: "no_image .jpeg", size:'250x180') %><br>
      <%= item.name %><br>
      <%= item.price %>円<br>
    </div>
    <% end %>
  </div>
  <div class="row">
  </div>
</div>