<%= render 'layouts/customer_header' %>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="name-search offset-3">
        <% if customer_signed_in? %>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field 'search[value]', size: "26x4", placeholder: "商品名検索" %>
            <%= f.select 'search[how]', options_for_select({ "部分一致" => "partical", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "match" }) %>
            <%= f.submit :"検索" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col">
      <% @genres.each do |genre| %>
        <%= link_to genre.name, search_path('search[value]': genre.id, 'search[how]': "match"), class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container w-75 mb-5">
  <div class="row-sm-12">
    <div class="col">
    <div class="col mt-4 d-flex align-items-end">
      <h2>商品一覧</h2>
      <h4>(全<%= @items.total_count %>中<%= @items.count %>件)</h4>
    </div>
  </div>
  <div class="row  d-flex align-items-start">
    <% @items.each do |item| %>
    <div class="col-md-3 mt-3">
      <div></div><%= attachment_image_tag(item, :image, :fill, 250, 180,  fallback: "no_image .jpeg", size:'250x180') %><br>
      <div>
        <%= link_to item_path(item) do %>
        <%= item.name %><br>
        <% end %>
      </div>
      <div>¥<%= item.price %></div>
    </div>
    <% end %>
  </div>
</div>
</div>
  <div class="mb-4 d-flex justify-content-center">
    <%= paginate(@items) %>
  </div>

<%= render "layouts/footer" %>