
<%= render 'layouts/customer_header' %>

<div class="container w-75">
  <div class="row">
    <div class="col">
    <div class="col mt-5">
      <h2>商品一覧</h2>
      <h4>(全<%= @items.count %>件)</h4>
    </div>
  </div>
  <div class="row mt-5 d-flex align-items-end">
    <% @items.each do |item| %>
    <div class="col-md-3 mt-3">
      <div></div><%= attachment_image_tag(item, :image, :fill, 250, 180,  fallback: "no_image .jpeg", size:'250x180') %><br>
      <div>
        <%= link_to item_path(item) do %>
        <%= item.name %><br>
        <% end %>
      </div>
      <div>¥<%= item.price %></div>
    </div>
    <% end %>
  </div>
  <div class="row">
  </div>
</div>