<%= render 'layouts/customer_header' %>

<div class="container w-75 my-5">
  <div class="row">
    <div class="col offset-1"><%= attachment_image_tag(@item, :image, :fill, 350, 250,  fallback: "no_image .jpeg", size:'400x250') %></div>
    <div class="col ">
      <h1><%= @item.name %></h1>
      <div class="setumei"><%= @item.introduction %></div>
      <div class="mt-4 d-flex align-items-end">
        <span><h2><%= @item.add_tax_price %></h2></span>
        <span><p>（税込）</p></span>
      </div>
      <div class="my-2">
        <% if @item.is_active == "販売中" %>
          <%= form_with model:@cart, url: carts_path, local: true do |f| %>
            <%= f.label :amount, "数量" %>
            <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
            <% if customer_signed_in? %>
              <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <% end %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <h3>売り切れ中</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>