<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
      <a class="navbar-brand" href="/"><span>logo</span></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li><%= link_to 'マイページ', customer_path(current_customer) %></li>
            <li>商品一覧</li>
            <li>カート</li>
            <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'About', homes_about_path %></li>
            <li>商品一覧</li>
            <li><%= link_to ' 新規登録', new_customer_registration_path %></li>
            <li><%= link_to ' ログイン', new_customer_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>